body{
  margin: 0;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-wrap{
  display: flex;
  justify-content: center; 
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px; 
}
.canvas-box{
display: flex;
justify-content: center;
margin-top: 15px;
border: 1px solid;
}
.footer-wrap{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#header-remove{
  position: absolute;
  top: 46px;
  left: 47%;
}
#footer-remove{
  position: absolute;
  top: 11rem;
  left: 18rem;
}